[tool.poetry]
name = "atomkraft"
version = "0.1.0"
description = "Testing for Cosmos Blockchains"
authors = ["Ranadeep Biswas <mail@rnbguy.at>"]
license = "Apache"

[tool.poetry.dependencies]
python = "^3.10"

[tool.poetry.dev-dependencies]

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
